.container--standard {
    max-width: 1600px;
    margin: auto;
}

.main-container {
    display: flex;
    gap: 26px;
    .container__box {
        width: 100%;
        background-color: white;
        .attr {
            background: #8ecdd7;
            border-radius: 4px;
            padding: 4px 16px;
            font-size: 12px;
            font-weight: 600;
            color: white;
        }
    }
}

.box {
    height: 350px;
    padding: 22px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 8px;
}

.box p {
    margin: 5px 0;
    font-size: 12px;
    color: #7B7B7B;
    font-weight: bold;
}

.box .titulo-container {
    display: flex;
}

.box .titulo-container h4 {
    font-size: 18px;
    color: #333333;
}

.box .titulo-container .titulo-container_number {
    margin: 0 0 4px 8px;
    width: 24px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 45%;
    color: white;
    font-weight: bold;
}

.box i {
    color: #686f70;
}

.box .input {
    margin: 12px 0;
    padding: 5px 0;
    width: 80%;
    border-bottom: 1px solid rgb(238, 236, 236);
}

.box .input:focus {
    outline: none;
}

.do-first {
    overflow: auto;
    border-color: rgb(133, 206, 114);
}

.schedule {
    overflow: auto;
    border-color: rgb(48, 214, 255);
}

.delegate {
    overflow: auto;
    border-color: rgb(255, 174, 23);
}

.dont-do {
    overflow: auto;
    border-color: rgb(250, 52, 52);
}

@media (min-width: 768px) {
    body {
        padding: 50px 100px;
    }
}

@media (min-width: 1280px) {
    body {
        padding: 80px 60px;
    }
}

@media (min-width: 1280px) {
    body .main-container {
        grid-template-columns: 1fr 1fr;
    }
}

h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2rem;
}

h3{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 1.25rem;
}