<form *ngIf="form" [formGroup]="form" class="d-flex flex-column w-100 p-4 content--standard">
    <div class="d-flex align-items-center w-100 mb-3">
        <h1 *ngIf="!guid" class="heading--desktop04">
            Create Product
        </h1>
        <h1 *ngIf="guid" class="heading--desktop04">
            Update Product
        </h1>
        <div class="ms-auto">
            <button class="btn btn--null" (click)="list()">
                <i class="fa fa-list me-2"></i>
                List
            </button>
            <button *ngIf="guid" class="btn btn--null ms-2">
                <i class="fa fa-copy me-2"></i>
                Copy
            </button>
            <button *ngIf="guid" class="btn btn--null ms-2">
                <i class="fa fa-share-alt me-2"></i>
                Share
            </button>
        </div>
    </div>
    <div class="d-flex w-100 flex-column">
        <div class="d-flex w-100">
            <div class="d-flex flex-column w-100">
                <div class="d-flex w-100">
                    <div class="d-flex flex-column py-3 pe-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" required formControlName="name" [readonly]="!editable" [(ngModel)]="body.name" id="name" class="input--standard w-100" type="text" pInputText> 
                            <label for="name">Name<small class="required">*</small></label>
                        </span>
                        <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('name')">
                            {{hasError('name')}}
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 px-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.description" id="description" class="input--standard w-100" type="text" pInputText> 
                            <label for="description">Description</label>
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 ps-2 col-md-4">
                        <span class="p-float-label active w-100">
                            <label>Supplier</label>
                        </span>
                        <div [ngClass]="{'p-input-icon-left': selectedSupplier}" class="d-flex w-100 position-relative">
                            <i *ngIf="selectedSupplier" style="z-index: 1;" class="fa fa-search-plus ms-1 cursor-pointer" (click)="goto('supplier/' + selectedSupplier)"></i>
                            <p-dropdown [ngModelOptions]="{standalone: true}" [readonly]="!editable" (onChange)="changeSupplier()" class="w-100" optionLabel="firstname" optionValue="$guid" [options]="suppliers" [(ngModel)]="selectedSupplier" placeholder="Select Supplier" [virtualScroll]="true" [virtualScrollItemSize]="24"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <div [ngClass]="{'p-input-icon-left': selectedCategory}" class="d-flex flex-column py-3 pe-2 col-md-4">
                        <span class="p-float-label active w-100">
                            <label>Category</label>
                        </span>
                        <i *ngIf="selectedCategory" style="z-index: 1;" class="fa fa-search-plus ms-1 cursor-pointer" (click)="goto('category/' + selectedCategory)"></i>
                        <p-dropdown [ngModelOptions]="{standalone: true}" [readonly]="!editable" (onChange)="changeCategory()" class="w-100" optionLabel="name" optionValue="$guid" [options]="categories" [(ngModel)]="selectedCategory" placeholder="Select Category" [virtualScroll]="true" [virtualScrollItemSize]="24"></p-dropdown>
                    </div>
                    <div class="d-flex flex-column py-3 px-2 col-md-4">
                        <span class="p-float-label active w-100">
                            <label>Subcategories</label>
                        </span>
                        <p-multiSelect  [ngModelOptions]="{standalone: true}" [readonly]="!editable"  
                                        [options]="subcategories" 
                                        [(ngModel)]="selectedSubcategories" 
                                        (onChange)="changeSubcategory($event)"
                                        defaultLabel="Select a subcategory" 
                                        optionLabel="name" 
                                        optionValue="$guid"></p-multiSelect>
                    </div>
                    <div class="d-flex flex-column py-3 px-2 col-md-4">
                        <span class="p-float-label active w-100">
                            <label>Type</label>
                        </span>
                        <p-multiSelect  [ngModelOptions]="{standalone: true}" [readonly]="!editable"  
                                        [options]="productTypes" 
                                        [(ngModel)]="selectedProductType" 
                                        (onChange)="changeProductType($event)"
                                        defaultLabel="Select type" 
                                        optionLabel="name" 
                                        optionValue="$guid"></p-multiSelect>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <div class="d-flex flex-column py-3 pe-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off"  required formControlName="sku" [readonly]="!editable" [(ngModel)]="body.sku" id="sku" class="input--standard w-100" type="text" pInputText> 
                            <label for="sku">Sku<small class="required">*</small></label>
                        </span>
                        <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('sku')">
                            {{hasError('sku')}}
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 ps-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.productcode" id="productcode" class="input--standard w-100" type="text" pInputText> 
                            <label for="productcode">Code</label>
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 ps-2 col-md-4">
                        <span class="p-float-label active w-100">
                            <label>Store</label>
                        </span>
                        <div [ngClass]="{'p-input-icon-left': selectedStore}" class="d-flex w-100 position-relative">
                            <i *ngIf="selectedStore" style="z-index: 1;" class="fa fa-search-plus ms-1 cursor-pointer" (click)="goto('product-store/' + selectedStore)"></i>
                            <p-dropdown [ngModelOptions]="{standalone: true}" [readonly]="!editable" (onChange)="changeStore()" class="w-100" optionLabel="name" optionValue="$guid" [options]="stores" [(ngModel)]="selectedStore" placeholder="Select Store" [virtualScroll]="true" [virtualScrollItemSize]="24"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 mt-4">
                    <div class="d-flex flex-column py-3 pe-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.price" id="price" class="input--standard w-100" type="number" pInputText> 
                            <label for="price">Price</label>
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 px-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.iva" id="iva" class="input--standard w-100" type="number" pInputText> 
                            <label for="iva">IVA</label>
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 ps-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.discount" id="discount" class="input--standard w-100" type="number" pInputText> 
                            <label for="discount">Discount</label>
                        </span>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <div class="d-flex flex-column py-3 pe-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.stock.actualqty" id="stock.actualqty" class="input--standard w-100" type="number" pInputText> 
                            <label for="stock.actualqty">Quantity</label>
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 px-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.stock.maxqty" id="stock.maxqty" class="input--standard w-100" type="number" pInputText> 
                            <label for="stock.maxqty">Max. Quantity</label>
                        </span>
                    </div>
                    <div class="d-flex flex-column py-3 ps-2 col-md-4">
                        <span class="p-float-label w-100">
                            <input autocomplete="off" [ngModelOptions]="{standalone: true}" [readonly]="!editable" [(ngModel)]="body.stock.minqty" id="stock.minqty" class="input--standard w-100" type="number" pInputText> 
                            <label for="stock.minqty">Min. Quantity</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 mt-4 content--footer" *ngIf="!guid" [@enterAnimation]>
        <div class="ms-md-auto">
            <button (click)="submit()" class="btn btn--standard">
                <i class="fa fa-save me-2"></i>
                Save
            </button>
        </div>
    </div>
    <div class="d-flex w-100 mt-4 content--footer" *ngIf="guid && !editable" [@enterAnimation]>
        <div class="ms-md-auto">
            <button (click)="editable = true" class="btn btn--secondary">
                <i class="fa fa-edit me-2"></i>
                Edit
            </button>
        </div>
    </div>
    <div class="d-flex w-100 mt-4 content--footer" *ngIf="guid && editable" [@enterAnimation]>
        <div class="ms-md-auto">
            <button (click)="restore()" class="btn btn--null me-2">Cancel</button>
        </div>
        <div class="ms-md-2">
            <button (click)="submit()" class="btn btn--standard">
                <i class="fa fa-save me-2"></i>
                Save
            </button>
        </div>
    </div>
</form>
