<form *ngIf="form" [formGroup]="form" class="d-flex flex-column w-100 p-4 content--standard">
    <div class="d-flex align-items-center w-100 mb-3">
        <h1 *ngIf="!guid" class="heading--desktop04">
            Create Store
        </h1>
        <h1 *ngIf="guid" class="heading--desktop04">
            Update Store
        </h1>
        <div class="ms-auto">
            <button class="btn btn--null" (click)="list()">
                <i class="fa fa-list me-2"></i>
                List
            </button>
            <button *ngIf="guid" class="btn btn--null ms-2">
                <i class="fa fa-copy me-2"></i>
                Copy
            </button>
            <button *ngIf="guid" class="btn btn--null ms-2">
                <i class="fa fa-share-alt me-2"></i>
                Share
            </button>
        </div>
    </div>
    <div class="d-flex w-100">
        <div class="d-flex flex-column w-100 pe-2 py-3">
            <span class="p-float-label w-100">
                <input autocomplete="off" required formControlName="name" [readonly]="!editable" [(ngModel)]="body.name" id="name" class="input--standard w-100" type="text" pInputText> 
                <label for="name">Name<small class="required">*</small></label>
            </span>
            <span class="text-danger text--desktop04 semibold mt-1 ms-1" *ngIf="hasError('name')">
                {{hasError('name')}}
            </span>
        </div>
    </div>
    <div class="d-flex w-100 mt-4 content--footer" *ngIf="!guid" [@enterAnimation]>
        <div class="ms-md-auto">
            <button (click)="submit()" class="btn btn--standard">Save</button>
        </div>
    </div>
    <div class="d-flex w-100 mt-4 content--footer" *ngIf="guid && !editable" [@enterAnimation]>
        <div class="ms-md-auto">
            <button (click)="editable = true" class="btn btn--secondary">
                <i class="fa fa-edit me-2"></i>
                Edit
            </button>
        </div>
    </div>
    <div class="d-flex w-100 mt-4 content--footer" *ngIf="guid && editable" [@enterAnimation]>
        <div class="ms-md-auto">
            <button (click)="restore()" class="btn btn--null me-2">Cancel</button>
        </div>
        <div class="ms-md-2">
            <button (click)="submit()" class="btn btn--standard">
                <i class="fa fa-save me-2"></i>
                Save
            </button>
        </div>
    </div>
</form>