    <form action="signup.php" method="post">
        <h1>Sistema de Registro</h1>
        <p>Username <input type="text" placeholder="Ingrese su Username" name="edad"></p>
        <p>Nombre <input type="text" placeholder="Ingrese su nombre" name="nombre"></p>
        <p>Apellido <input type="text" placeholder="Ingrese su apellido" name="apellido"></p>
        <p>Correo <input type="email" placeholder="Ingrese su correo" name="correo"></p>
        <p>Contraseña <input type="password" placeholder="Ingrese su contraseña" name="contraseña"></p>
        <p>Confirme su Contraseña<input type="password" placeholder="Confirme su contraseña" name="confirm_contraseña"></p>
        <input type="submit" value="Registrar">
    </form>
