<div class="d-flex flex-column w-100 p-4 content--standard entitylist--standard">
    <div class="d-flex w-100 mb-4">
        <h1 class="heading--desktop04">Products</h1>
        <div class="ms-md-auto"></div>
        <button (click)="remove()" *ngIf="hasBulkAction" class="btn btn--danger text--desktop02 px-4">
            <i class="fa fa-times me-2"></i>
            Remove selected
        </button>
        <button (click)="create()" class="btn btn--standard text--desktop02 px-4 ms-3">
            <i class="fa fa-plus me-2"></i>
            Create product
        </button>
    </div>
    <p-table [value]="products" [paginator]="false" responsiveLayout="scroll" currentPageReportTemplate="{{pagination.count}} entries">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 100px">
                    <button class="btn btn--null" (click)="search()">
                        <i class="fa fa-search me-2"></i>
                        Search
                    </button>
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <input (change)="search()" autocomplete="off" [(ngModel)]="filter.name" id="name" class="input--standard w-100" type="text" pInputText> 
                        <label for="name">Name</label>
                    </span>    
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <input (change)="search()" autocomplete="off" [(ngModel)]="filter.sku" id="sku" class="input--standard w-100" type="text" pInputText> 
                        <label for="sku">SKU</label>
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <input (change)="search()" autocomplete="off" [(ngModel)]="filter.price" id="price" class="input--standard w-100" type="text" pInputText> 
                        <label for="price">Price</label>
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <input (change)="search()" autocomplete="off" [(ngModel)]="filter.stock" id="stock" class="input--standard w-100" type="text" pInputText> 
                        <label for="stock">Stock</label>
                    </span> 
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr class="cursor-pointer">
                <td>
                    <p-checkbox [binary]="true" value="1" [(ngModel)]="product.$_select"></p-checkbox>
                </td>
                <td (dblclick)="read(product.$guid)">
                    <a>
                        {{product.name}}
                    </a>
                </td>
                <td (dblclick)="read(product.$guid)">
                    <a>
                        {{product.sku}}
                    </a>
                </td>
                <td (dblclick)="read(product.$guid)">
                    <a>
                        {{product.price}}
                    </a>
                </td>
                <td [ngClass]="{'invalid': product.stock?.minqty > 0 && product.stock?.actualqty < product.stock.minqty}" (dblclick)="read(product.$guid)">
                    <a>
                        {{product.stock?.actualqty}}
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr class="table__empty">
                <td [attr.colspan]="5">
                    <span>
                        No records found
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="d-flex w-100 mt-3" *ngIf="pagination.count">
        <span class="text--desktop01 semibold ms-auto">
            {{pagination.count}} results
        </span>
    </div>
    <div class="d-flex w-100 place-content-center mt-2">
        <app-paginator (search)="search($event)" [pagination]="pagination"></app-paginator>
    </div>
</div>